body {
  background-color: #141414;
  color: white;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-app > .row > * {
  flex-shrink: unset;
  width: unset;
  max-width: unset; 
  padding-right: unset;
  padding-left: unset;
  margin-top: unset;
}

.image-container {
  position: relative;
  transition: transform 200ms;
  transform-origin: center;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 500ms ease;
}